{
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:sonarjs/recommended",
        "plugin:unicorn/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["sonarjs", "unicorn", "@typescript-eslint"],
    "rules": {
        "arrow-body-style": "off",
        "capitalized-comments": "off",
        "comma-spacing": "off",
        "complexity": "off",
        "consistent-return": "off",
        "dot-location": "off",
        "function-paren-newline": "off",
        "global-require": "off",
        "id-length": "off",
        "indent": "off",
        "indent-legacy": "off",
        "init-declarations": "off",
        "line-comment-position": "off",
        "max-len": "off",
        "max-lines-per-function": "off",
        "max-params": "off",
        "max-statements": "off",
        "max-statements-per-line": "off",
        "multiline-ternary": "off",
        "new-cap": "off",
        "newline-after-var": "off",
        "newline-before-return": "off",
        "newline-per-chained-call": "off",
        "no-await-in-loop": "off",
        "no-confusing-arrow": "off",
        "no-console": "off",
        "no-empty": "off",
        "no-implicit-coercion": "off",
        "no-inline-comments": "off",
        "no-mixed-operators": "off",
        "no-multi-spaces": "off",
        "no-negated-condition": "off",
        "no-nested-ternary": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "no-process-env": "off",
        "no-return-assign": "off",
        "no-shadow": "off",
        "no-sync": "off",
        "no-trailing-spaces": "off",
        "object-property-newline": "off",
        "object-shorthand": "off",
        "one-var": "off",
        "padded-blocks": "off",
        "padding-line-between-statements": "off",
        "prefer-const": "off",
        "prefer-destructuring": "off",
        "prefer-reflect": "off",
        "prefer-template": "off",
        "quote-props": "off",
        "quotes": "off",
        "radix": "off",
        "require-atomic-updates": "off",
        "semi": "off",
        "sort-keys": "off",
        "space-before-function-paren": "off",
        "arrow-parens": "error",
        "eqeqeq": "error",
        "curly": "error",
        "object-curly-spacing": ["error", "always"],
        "unicorn/filename-case": "off",
        "unicorn/no-static-only-class": "off",
        "unicorn/no-array-reduce": "off"
    }
}
